<div class="modal-header">
    <h5 class="modal-title mt-0"> {{flag}} Therapy Categoory </h5>
    <!-- <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button> -->
  </div>
  
  <form (submit)="submitForm()" [formGroup]="categoryForm">
    <div class="modal-body">

        <div class="row" >
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">Sub Category Name </label>
                    <input type="text" class="form-control" formControlName="Name"
                    [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                        placeholder="Name" id="formrow-FirstName">
                    <div class="invalid-feedback"
                        *ngIf="f.Name.errors && (submitted)">
                        <div *ngIf="f.Name.errors.required"> Sub Category is
                            required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-Surname">categry</label>
                    <select class="custom-select" id="inputGroupSelect01"
                    formControlName="TherapyCategoryId" (change)="onselectcat($event)"
                     [ngClass]="{ 'is-invalid': submitted && f.TherapyCategoryId.errors }" >
                        <option value="">select Categry...</option>
                        <option value="{{item.id}}" *ngFor="let item of category">{{item.name}}</option>
                        <!-- <option value="2">Two</option>
                        <option value="3">Three</option> -->
                      </select>
                    <div class="invalid-feedback"
                        *ngIf="f.TherapyCategoryId.errors && (submitted)">
                        <div *ngIf="f.TherapyCategoryId.errors.required"> Category is
                            required</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">Price </label>
                    <input type="number" class="form-control" formControlName="Price"
                    [ngClass]="{ 'is-invalid': submitted && f.Price.errors }"
                        placeholder="Price" id="formrow-FirstPrice">
                    <div class="invalid-feedback"
                        *ngIf="f.Price.errors && (submitted)">
                        <div *ngIf="f.Price.errors.required"> Price is
                            required</div>
                    </div>
                </div>
            </div> -->
          
        </div>
        <div class="row" >
            <!-- <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">Duration </label>
                    <input type="number" class="form-control" formControlName="Duration"
                    [ngClass]="{ 'is-invalid': submitted && f.Duration.errors }"
                        placeholder="Duration" id="formrow-FirstDuration">
                    <div class="invalid-feedback"
                        *ngIf="f.Duration.errors && (submitted)">
                        <div *ngIf="f.Duration.errors.required"> Duration
                            required</div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-Surname">categry</label>
                    <select class="custom-select" id="inputGroupSelect01"
                    formControlName="TherapyCategoryId" (change)="onselectcat($event)"
                     [ngClass]="{ 'is-invalid': submitted && f.TherapyCategoryId.errors }" >
                        <option value="">select Categry...</option>
                        <option value="{{item.id}}" *ngFor="let item of category">{{item.name}}</option>
                    
                      </select>
                    <div class="invalid-feedback"
                        *ngIf="f.TherapyCategoryId.errors && (submitted)">
                        <div *ngIf="f.TherapyCategoryId.errors.required"> Category is
                            required</div>
                    </div>
                </div>
            </div> -->
          
        </div>
      
        </div>
  
    <div class="modal-footer">
     
  
      <button type="submit" class="btn btn-success" >Submit</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  
  </form>

