<div class="therapistsmain-tabs">
    <div class="row mx-2">
        <div class="col-lg-12">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-saleschart-tab" data-toggle="pill" href="#pills-sales"
                        role="tab" aria-controls="pills-sales" aria-selected="true">Gift Certificate List</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mid_sec_bdy">

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-sales" role="tabpanel" aria-labelledby="pills-saleschart-tab">
            <div class="row mx-0 row-mob">
                <div class="col-md-12 p-0 bg-grey">
                    <div class="row mx-0 pt-3 pb-3">
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            <div class="colum_left_bdy">
                                <div class="custom_select_in ">
                                    <select class="custom_select_bx f_select">
                                        <option>Today</option>
                                    </select>
                                    <img src="assets/images/dropdown.svg" class="dropdown_img">
                                </div>
                                <div class="custom_select_in ml-md-3">
                                    <select class="custom_select_bx s_select">
                                        <option>All Spas</option>
                                    </select>
                                    <img src="assets/images/dropdown.svg" class="dropdown_img">
                                </div>

                                <div class="custom_select_in ml-md-3 searchui">
                                    <form class="form-inline">
                                        <img src="assets/images/search.png" class="dropdown_img">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                            aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 text-right">
                            <div class="twobtn_body_sec">
                                <div class="custom_btn_in  btn-export">
                                    <select class="custom_select_bx s_select">
                                        <option>Export</option>
                                        <option>PDF</option>
                                        <option>Excel</option>
                                        <option>CSV</option>
                                        <option>Sheets</option>
                                    </select>
                                    <img src="assets/images/export.svg" class="dropdown_img">
                                </div>
                                <div class="custom_btn_in ml-md-3">
                                    <a href="#" class="btn btn_new btn_gift" data-toggle="modal" data-target="#giftnew">
                                        + New</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 p-0">
                    <div class="row mx-0 pt-0 pb-0">
                        <!-- table start -->
                        <div class="col-lg-12 p-0">
                            <div class="table-responsive sales-main">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">GC #</th>
                                            <th scope="col">Issue Date</th>
                                            <th scope="col">Issued From</th>
                                            <th scope="col">Issued To</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Used</th>
                                            <th scope="col">Balance</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">256</a></th>
                                            <td>28 Oct 2021</td>
                                            <td>Steve king</td>
                                            <td>KBS</td>
                                            <td>Service</td>
                                            <td>$450.00</td>
                                            <td>$60.00</td>
                                            <td>$34.88</td>
                                            <td>$544.88</td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>page total</td>
                                            <td></td>
                                            <td>Showing 21 results</td>
                                            <td></td>
                                            <td></td>
                                            <td>$3500.00</td>
                                            <td>#480.00</td>
                                            <td>$279.04</td>
                                            <td>$4359.04</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="giftnew" tabindex="-1" aria-labelledby="additemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="additemModalLabel">New Gift Certificate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="assets/images/cross.svg" alt="icon">
                        </button>
                    </div>
                    <div class="modal-body ">
                        <form class="form-inline giftcard_model">

                            <div class="first_panel w-100">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="radio_custom_bdy">
                                            <span class="heading_small">
                                                1.
                                            </span>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="radio1">
                                                    <input type="radio" class="form-check-input" id="radio1"
                                                        name="optradio" value="option1">Amount
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2"
                                                        name="optradio" value="option2">Service
                                                </label>
                                            </div>
                                        </div>
                                        <div class=" " id="option1" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="col-md-6">
                                                <div class="inp">
                                                    <label class="email" for="email"> Gift Certificate Amount </label>
                                                    <input class="email-margin" type="email" id="email"
                                                        placeholder="$" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" " id="option2" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="col-md-6">
                                                <div class="select_inp">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected="">Service</option>
                                                        <option value="1">Option 1</option>
                                                        <option value="2">Option 2</option>
                                                        <option value="3">Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="select_inp_add">
                                                    <div class="additem">
                                                        <a href="#" class="additem-link" data-toggle="modal"
                                                            data-target="#additemModal"> + Add Service</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="under_line"></div>
                            </div>
                            <div class="second_panel w-100">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading_sec">
                                            <h3>2. Details </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Recepient’s Name </label>
                                            <input class="email-margin" type="text" id="email" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Recepient’s Email </label>
                                            <input class="email-margin" type="text" id="email" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Sender’s Name </label>
                                            <input class="email-margin" type="text" id="email" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Sender’s Email </label>
                                            <input class="email-margin" type="text" id="email" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="textarea_bdy">
                                            <textarea class="email-margin" type="text" id="email"
                                                placeholder="Write a short message"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="under_line"></div>
                            </div>
                            <div class="second_panel w-100">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading_sec">
                                            <h3>3. Discount </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="sec_radio_btn_two">
                                            <span class="sec_lbl_radio">Discount Type</span>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio3">
                                                <input type="radio" class="form-check-input" id="radio3" name="distype"
                                                    value="option1">Percentage
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio4">
                                                <input type="radio" class="form-check-input" id="radio4" name="distype"
                                                    value="option2">Fixed Amount
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Discount Value </label>
                                            <input class="email-margin" type="text" id="email" placeholder="" />
                                        </div>
                                    </div>


                                </div>
                                <div class="under_line"></div>
                            </div>
                            <div class="second_panel w-100">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading_sec">
                                            <h3>4. Gratuity </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="sec_radio_btn_two">
                                            <span class="sec_lbl_radio">Gratuity Type</span>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio6">
                                                <input type="radio" class="form-check-input" id="radio6" name="gratype"
                                                    value="option11">Percentage
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label" for="radio7">
                                                <input type="radio" class="form-check-input" id="radio7" name="gratype"
                                                    value="option12">Fixed Amount
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inp">
                                            <label class="email" for="email"> Gratuity Value </label>
                                            <input class="email-margin" type="text" id="email" placeholder="$" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="footer_inner row">
                            <div class="col-md-6">
                                <div class="footer_txt ">
                                    <h3>Net Amount : $360.28</h3>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="footer_btn ">
                                    <button type="button" class="btn btn-payment" data-dismiss="modal">Proceed to
                                        Payment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>