<div class="modal-header">
    <h5 class="modal-title mt-0"> {{flag}} Spa </h5>
    <!-- <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button> -->
  </div>
  
  <form (submit)="submitForm()" [formGroup]="spaForm">
    <div class="modal-body">

        <div class="row" >
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname"> Name</label>
                    <input type="text" class="form-control" formControlName="spaName"
                    [ngClass]="{ 'is-invalid': submitted && f.spaName.errors }"
                        placeholder="First Name" id="formrow-Firstname">
                    <div class="invalid-feedback"
                        *ngIf="f.spaName.errors && (submitted)">
                        <div *ngIf="f.spaName.errors.required">Spa Name is
                            required</div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <!-- <div class="mb-3">
                    <label for="formrow-Surname">Description</label>
                    <input type="text" class="form-control" formControlName="description"
                     placeholder="description"
                     [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                        id="formrow-Surname">
                    <div class="invalid-feedback"
                        *ngIf="f.description.errors && (submitted )">
                        <div *ngIf="f.description.errors.required">description is
                            required</div>
                    </div>
                </div> -->
            </div>
    
            
        </div>
    
        </div>
  
    <div class="modal-footer">
     
  
      <button type="submit" class="btn btn-success" >Submit</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  
  </form>

