<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
   <!-- Sidebar Toggler (Sidebar) -->
   <div class=" d-none d-md-inline tgl_btn">
      <button class="btn_toggle_new" id="sidebarToggle">
         <img src="assets/images/menu.svg" class="toggle_img">
      </button>
   </div>
   <!-- Nav Item - Dashboard -->
   <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)"  routerLink="/dashbord/appointment"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/calender.svg" class="toggle_img">
         <span class="nav_content">Appointments</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)"  routerLink="/dashbord/therepist"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/user.svg" class="toggle_img">
         <span class="nav_content">Therapists</span>
      </a>
   </li>
  <!-- <li class="nav-item sidebar-dropdown">
        <a class="nav-link" href="javascript:void(0)" (click)="masterToggel = !masterToggel">
           <img src="assets/images/623163_database_communication_connection_data_internet_icon.svg" class="toggle_img" > 
        <span class="nav_content">Master <i class="fa fa-angle-down"></i></span>
        </a>
        <div class="sidebar-submenu" *ngIf="masterToggel">
           <ul>
              <li>
              <a href="javascript:void(0)" routerLink="/dashbord/master/spa"> <span class="submenu_txt"><i class="fa fa-angle-right"></i> Spa</span>

              </a>
              </li>
              <li>
              <a href="javascript:void(0)" routerLink="/dashbord/master/room"> <span class="submenu_txt"><i class="fa fa-angle-right"></i> Rooms</span>

              </a>
              </li>
              <li>
              <a href="javascript:void(0)" routerLink="/dashbord/master/category"> <span class="submenu_txt"><i class="fa fa-angle-right"></i> Categories</span>

              </a>
              </li>
              
           </ul>
        </div>
  </li> -->
  <li class="nav-item dropdown" id="accordion">
     <div class="collapsed" data-toggle="collapse" href="#collapseOne">
         <a class="nav-link" href="javascript:void(0)" >
        <img src="assets/images/dollar.svg" class="toggle_img">
        <span class="nav_content">master</span>
        </a>
     </div>
     <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
       <div class="accordi" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" routerLink="/dashbord/master/category">Category</a> -->
          <a class="dropdown-item" routerLink="/dashbord/master/billing"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Billing </a>
          <a class="dropdown-item" routerLink="/dashbord/master/country"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Country</a>
          <a class="dropdown-item" routerLink="/dashbord/master/customer"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Customer</a>
          <a class="dropdown-item" routerLink="/dashbord/master/discount"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Discount</a>
          <a class="dropdown-item" routerLink="/dashbord/master/employee-type"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Employee Type</a>
          <a class="dropdown-item" routerLink="/dashbord/master/employeeLeaves"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Employee Leaves</a>
          <a class="dropdown-item" routerLink="/dashbord/master/insentive"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">insentive</a>
          <a class="dropdown-item" routerLink="/dashbord/master/packageDetail"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Package</a>
          <a class="dropdown-item" routerLink="/dashbord/master/packageMaster"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Package Master</a>
          <a class="dropdown-item" routerLink="/dashbord/master/reservationDetail"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Reservation Detail</a>
          <a class="dropdown-item" routerLink="/dashbord/master/reservationmaster"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Reservation Master</a>
          <a class="dropdown-item" routerLink="/dashbord/master/reservationStatus"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Reservation Status</a>
          <a class="dropdown-item" routerLink="/dashbord/master/roomAvaliability"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Room Avaliability</a>
          <a class="dropdown-item" routerLink="/dashbord/master/roomDetail"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Room Detail</a>
          <a class="dropdown-item" routerLink="/dashbord/master/room"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Room</a>
          <a class="dropdown-item"routerLink="/dashbord/master/spa"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Spa</a>
          <a class="dropdown-item" routerLink="/dashbord/master/state"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">State</a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapistAvailability"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapist Availability</a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapist"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapist </a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapistSkills"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapist Skills </a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapyCategory"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapy Category </a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapySubcategory"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapy Subcategory </a>
          <a class="dropdown-item" routerLink="/dashbord/master/timeSlot"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">TimeSlot </a>
          <a class="dropdown-item" routerLink="/dashbord/master/treatmentStatus"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Treatment Status </a>
          <a class="dropdown-item" routerLink="/dashbord/master/therapySubCategoryDetail"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Therapy Sub Category Detail </a>
          <a class="dropdown-item" routerLink="/dashbord/master/userEmployee"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> User Employee</a>
     </div>
     </div>
  </li>
 
   
  <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)"  routerLink="/dashbord/sales"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/dollar.svg" class="toggle_img">
         <span class="nav_content">Sales</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)" routerLink="/dashbord/analytics"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/graph.svg" class="toggle_img">
         <span class="nav_content">Analytics</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)" routerLink="/dashbord/giftcertificate"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/giftcard.svg" class="toggle_img">
         <span class="nav_content">Gift Certificate</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)">
         <img src="assets/images/customer.svg" class="toggle_img">
         <span class="nav_content">Customers</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)" routerLink="/dashbord/products"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/product.svg" class="toggle_img">
         <span class="nav_content">Products</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)" routerLink="/dashbord/communications"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/chat.svg" class="toggle_img">
         <span class="nav_content">Communication</span>
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link"  href="javascript:void(0)" routerLink="/dashbord/settings"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
         <img src="assets/images/setting.svg" class="toggle_img">
         <span class="nav_content">Settings</span>
      </a>
   </li> 
</ul>