<div class="modal-header">
    <h5 class="modal-title mt-0"> {{flag}} Therapy Categoory </h5>
    <!-- <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button> -->
  </div>
  
  <form (submit)="submitForm()" [formGroup]="therapyForm">
    <div class="modal-body">

        <div class="row" >
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">Select Spa </label>
                    
                        <select class="custom-select" id="inputGroupSelect01"
                        formControlName="spaId"
                         [ngClass]="{ 'is-invalid': submitted && f.spaId.errors }" 
                         (change)="onchnage($event, 'spa')">
                            <option value="">select room...</option>
                            <option value="{{item.id}}" *ngFor="let item of spalist">{{item.spaName}}</option>
                            <!-- <option value="2">Two</option>
                            <option value="3">Three</option> -->
                          </select>                    <div class="invalid-feedback"
                        *ngIf="f.spaId.errors && (submitted)">
                        <div *ngIf="f.spaId.errors.required"> Spa is
                            required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">User employee </label>
                  
                        <select class="custom-select" id="inputGroupSelect01"
                        formControlName="userTherapistId"
                         [ngClass]="{ 'is-invalid': submitted && f.userTherapistId.errors }" (change)="onchnage($event, 'user')">
                            <option value="">select room...</option>
                            <option value="{{item.umId}}" *ngFor="let item of userEmplist">{{item.firstName}}</option>
                            <!-- <option value="2">Two</option>
                            <option value="3">Three</option> -->
                          </select>                    <div class="invalid-feedback"
                        *ngIf="f.userTherapistId.errors && (submitted)">
                        <div *ngIf="f.userTherapistId.errors.required"> User employee  is
                            required</div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row" >
            <div class="col-md-6">
                <!-- <div class="mb-3">
                    <label for="formrow-firstname">Duration </label>
                    <input type="number" class="form-control" formControlName="Duration"
                    [ngClass]="{ 'is-invalid': submitted && f.Duration.errors }"
                        placeholder="Duration" id="formrow-FirstDuration">
                    <div class="invalid-feedback"
                        *ngIf="f.Duration.errors && (submitted)">
                        <div *ngIf="f.Duration.errors.required"> Duration
                            required</div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-firstname">Price </label>
                    <input type="number" class="form-control" formControlName="Price"
                    [ngClass]="{ 'is-invalid': submitted && f.Price.errors }"
                        placeholder="Price" id="formrow-FirstPrice">
                    <div class="invalid-feedback"
                        *ngIf="f.Price.errors && (submitted)">
                        <div *ngIf="f.Price.errors.required"> Price is
                            required</div>
                    </div>
                </div>
            </div> -->
          
        </div>
      
        </div>
  
    <div class="modal-footer">
     
  
      <button type="submit" class="btn btn-success" >Submit</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  
  </form>

