body {
    font-family: Open Sans;
    font-weight: 400
}

.btn.focus,
.btn:focus {
    box-shadow: none
}

select:focus-visible {
    outline: 0
}

button:focus {
    outline: 0
}

#wrapper {
    display: flex
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh
}

.fpt-4 {
    padding-top: 1.0rem!important
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.sidebar-dark .sidebar-brand {
    color: #fff
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15)
}

.sidebar .nav-item {
    position: relative;
    padding: 10px
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
    background: #424c5e;
    border-radius: 4px
}

.sidebar-dark .nav-item .nav-link {
    color: #fff;
    padding: 12px;
    display: flex;
    align-items: center
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #fff
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, .4)
}

.topbar {
    height: 4.375rem;
    padding-left: 24px
}

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem
}

.topbar .navbar-search {
    width: 25rem
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto
}

.bg-gradient-primary {
    background-color: #1c2638
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden
}

button.btn_toggle_new {
    background: transparent;
    border: 0
}

.sidebar.toggled {
    width: 0!important;
    overflow: hidden
}

.tgl_btn {
    padding: 10px
}

button.btn_toggle_new {
    padding: 12px
}

span.nav_content {
    margin-left: 19px;
    color: #f8f8f8
}

.sidebar.toggled span.nav_content {
    display: none
}

.sidebar.toggled .nav-item {
    display: flex!important;
    justify-content: center
}

.sidebar .tgl_btn {
    padding: 10px;
    text-align: left
}

.sidebar.toggled .tgl_btn {
    padding: 10px;
    text-align: center
}

h1.admin_header_txt {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #111927
}

.colum_left_bdy {
    display: flex;
    padding-left: 10px
}

select.custom_select_bx {
    background: #fff;
    border: 1px solid #d2d6db;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 16px;
    -webkit-appearance: none;
    position: relative
}

img.dropdown_img {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none
}

#searchDropdown > img, #notificationDropdown > img {
    width: 23px;
}

.custom_select_in {
    position: relative
}

.colum_right_bdy {
    display: flex;
    justify-content: flex-end
}

.btn_new {
    background: #111927;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 600
}

.btn_new:hover {
    color: #fff
}

.btn_zoom {
    width: 48px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D6DB;
    box-sizing: border-box;
    border-radius: 4px
}

.btn_ctom {
    border: 1px solid #d2d6db;
    background: #fff;
    padding: 9px 16px;
    color: #111927;
    font-size: 14px;
    font-weight: 600
}

.btn-white {
    border: 1px solid #111927;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px
}


.btn-black {
    background: #111927;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px
}

.btn-black:hover {
    color: #fff
}

.icon_bdy_section {
    height: calc(100vh - 183px);
    border-left: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    min-width: 48px
}

.icon_bdy_section_list ul {
    list-style: none;
    padding: 0;
    margin: 0
}

div#calendar {
    width: 100%
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc-row.fc-widget-header table thead tr th {
    border: none!important;
    padding: 32px 0 16px 0
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc-row.fc-widget-header table {
    border: none!important;
    border-top: 1px solid #ddd!important
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc-row.fc-widget-header table thead {
    border: none!important
}

.fc-view.fc-agendaDay-view.fc-agenda-view thead.fc-head tr td {
    border: none!important
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc-row.fc-widget-header {
    border: none!important;
    margin: 0!important
}

.fc-toolbar.fc-header-toolbar {
    display: none
}

.fc-view.fc-agendaDay-view.fc-agenda-view th.fc-resource-cell {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 30px 0 10px 0
}

.fc-view.fc-agendaDay-view.fc-agenda-view td.fc-day.fc-widget-content.fc-wed.fc-past {
    background: #fff
}

.fc-view.fc-agendaDay-view.fc-agenda-view td.fc-day.fc-widget-content.fc-wed.fc-past {
    background: #fff
}

.fc-view.fc-agendaDay-view.fc-agenda-view td.fc-axis.fc-widget-content {
    border: 0;
    outline: 0;
    padding: 0
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc-time-grid .fc-slats .fc-minor td:first-child {
    border-top-style: unset!important
}

.fc-view.fc-agendaDay-view.fc-agenda-view .fc td:first-child {
    border: 0
}

span.slot_main {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 44px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500
}

span.slot_main_mom {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: lowercase;
    width: 44px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500
}

.mid_section {
    height: calc(100vh - 70px);
    overflow-y: auto
}

a.fc-time-grid-event.fc-v-event.style_popup {
    border: 0;
    border-left: 4px solid #e38e06!important;
    background: #fcf5d0!important;
    padding: 0 10px
}

.fc-time.style_time {
    font-weight: 500;
    font-size: 16px!important;
    line-height: 19px;
    color: #e38e06
}

.fc-title.style_even {
    font-size: 14px;
    line-height: 16px;
    color: #1c2638
}

.sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
    background: #424c5e;
    border-radius: 4px
}

.dropdown-toggle::after {
    display: none!important
}

td.fc-axis.fc-widget-content {
    background: #f7f7f8
}

.mid_sec_bdy {
    height: calc(95vh - 70px);
    border-top: 1px solid #DDE4EB;
    overflow-y: auto
}

select.custom_select_bx.f_select {
    width: 121px;
    height: 40px
}

select.custom_select_bx.s_select {
    width: 146px;
    height: 40px
}

select.custom_select_bx.t_select {
    width: 99px;
    height: 40px
}

.btn-group.btn_ctm_group {
    width: 366px
}

.btn-group.btn_ctm_group button {
    font-weight: 600
}

.icon_bdy_section_list ul li {
    padding-bottom: 38px
}

.icon_bdy_section_list ul li a {
    padding: 17px 0
}

button.btn.btn_ctom i {
    font-size: 20px
}

ul.navbar-nav.navigater li {
    margin-right: 18px
}

ul.navbar-nav.navigater li:last-child {
    margin-right: 0
}

/*Therapists module css*/
.therapistsmain-tabs {
    background-color: #fff;
}
.therapistsmain-tabs ul > li > a {
    color: #7D8188;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 !important;
}
.therapistsmain-tabs ul > li > a.active {
    background-color: transparent !important;
    color: #111927 !important;
    border-bottom: 3px solid #111927;
}
#workinghrs-popover .modal-header {
    display: block;
    text-align: center;
}
#workinghrs-popover .modal-header > h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.68px;
    font-style: normal;
    text-transform: capitalize;
}
#workinghrs-popover .modal-header > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    margin-top: 6px;
    margin-bottom: 0;
}
#workinghrs-popover label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #111927;
    line-height: 19.07px;
}
#workinghrs-popover select {
    font-size: 16px;
    color: #1C2638;
    border: 1px solid #D2D6DB;
}
p.addfield {
    font-size: 14px;
    font-weight: 400;
    color: #3482F6;
}
#workinghrs-popover  .modal-footer > button{
    width: 48%;
}
#workinghrs-popover  .modal-footer > button.btn.btn-secondary {
    background-color: #C9384A;
    border-radius: 4px;
    border: 0;
    height: 48px;
}
#workinghrs-popover  .modal-footer > button.btn.btn-primary {
    background-color: #111927;
    border-radius: 4px;
    border: 0;
    height: 48px;
}
#workinghrs-popoverinput[type=radio] {
    width: 19px;
    height: 19px;
}
#workinghrs-popover ~ .modal-backdrop.fade.show {
    display: none !important;
}
#workinghrs-popover .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(50 50 71 / 17%), -5px 6px 10px rgb(50 50 71 / 12%);
    border-radius: 4px;
}

.searchui > form > img {
    height: auto;
    left: 12px;
    top: 13px;
    width: 13px;
}
.searchui > form > input {
    font-size: 15px;
    padding-left: 35px;
    height: 40px;
}
.btn_export {
    background: #fff;
    color: #1C2638;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 4px #bcbcbc;
}
.btn_export > img {
    margin-left: 7px;
}
.bg-grey {
    background: #F1F1F1;
    border: 1px solid #DDE4EB;
}
.sales-main {
    text-align: center;
}
.sales-main tbody tr th, .sales-main tbody tr td {
    padding: 22px 0;
}
.sales-main tfoot {
    background-color: #fff;
    box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.06);
    color: #A8AEB8;
    font-weight: 500;
    font-size: 16px;
}
.sales-main tfoot tr > td:first-child {
    text-transform: uppercase;
}
.sales-main tfoot tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-export {
    position: relative;
}
.btn-export > select {
    width: 116px !important;
    padding-left: 8px;
}
.btn-export > img {
    width: 17px;
    height: auto;
    top: 11px;
    right: 19px;
}
.allcategories .custom_select_bx.s_select {
    width: 161px;
}
.searchui form > .form-control.mr-sm-2 {
    width: 100%;
    min-width: 150px;
}
.sidebar .dropdown-menu.show {
    position: relative!important;
     transform: translate3d(0px, 0px, 0px) !important;
}
.sidebar.toggled .dropdown-menu.show {
    margin-top: 60px;
    position: absolute !important;
    margin-left: 6px;
}

/*Checkout*/
h2.sectiontitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}
span.price {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
}
span.crossicon {
    margin-left: 21px;
    position: relative;
    top: -2px;
}
.productinfo-card {
    background-color: #fff;
    padding: 23px 29px 31px 29px;
    border: 1px solid #DDE4EB;
	border-radius: 4px;
}
.checkout-wrapper label {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #6B6B6B;
}
.checkout-wrapper input, .checkout-wrapper select {
    background: #FFFFFF;
    border: 1px solid #D2D6DB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 11px;
	width: 100%;
	font-size: 14px;
}
.amount-total > ul > li {
    list-style: none;
    border-bottom: 1px solid #DDE4EB;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.amount-total ul > li .col > p {
    margin-bottom: 8px;
}
.amount-total > ul > li:last-child {
    border: 0;
    font-weight: 600;
}
.col.profile {
    max-width: 59px;
    padding-right: 0;
}
.pro-head > .row > .col > h4 {
    vertical-align: middle;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
.checkoutsidebar {
    background: #FFFFFF;
    border: 1px solid #DDE4EB;
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
    padding-bottom: 90px;
}
.pro-head {
    border-bottom: 1px solid #DDE4EB;
    padding-bottom: 9px;
    margin-bottom: 19px;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
}
.pay {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
button.btn.btn-primary.checkoutpay {
    height: 60px;
    width: 100%;
    background: #FFFFFF !important;
    border: 1px solid #D2D6DB;
    box-sizing: border-box;
    border-radius: 4px;
    color: #1C2638;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}
button.btn.btn-primary.checkoutpay:hover {
	border: 1px solid #D2D6DB;
}
.options-area > ul {
    list-style: none;
    padding-left: 0;
}
.options-area > ul > li {
    display: inline-block;
    width: 49%;
}
.options-area > ul > li .custom_btn_in.ml-md-3 > a {
    width: 100%;
    height: 54px;
    border-radius: 4px;
    margin-bottom: 3px;
    line-height: 37px;
    font-weight: 400;
    font-size: 16px;
}
.options-area > ul > li > .custom_btn_in.ml-md-3 {
    margin-left: 7px !important;
    margin-bottom: 7px;
}
.sidebarfooter {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    border-top: 1px solid #DDE4EB;
    bottom: 0;
    padding: 15px 15px;
}
.sidebarfooter .col-md-6.col-sm-12 > .dropdown, .sidebarfooter .col-md-6.col-sm-12 > .dropdown > button {
    width: 100%;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.sidebarfooter .col-md-6.col-sm-12 > .dropdown > button {
    border: 1px solid #D2D6DB;
    padding: 9px 0;
}
.sidebarfooter .col-md-6.col-sm-12 > .custom_btn_in.ml-md-3 > a {
    width: 100%;
    background-color: #fff;
    color: #111927;
    border: 1px solid #D2D6DB;
    height: 44px;
    line-height: 27px;
    font-size: 14px;
}

.sidebarfooter .col-md-6.col-sm-12 > .custom_btn_in.ml-md-3 {
    margin-left: 0 !important;
}
.sidebarfooter > .row > .col-md-6 {
    padding: 0 8px;
}

@media only screen and (min-width: 768px){
	.br-r-0 {
		border-bottom-right-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
	.b-r-0{
		border-right: 0 !important;
	}
	.b-l-0{
		border-left: 0 !important;
	}
	.br-0 {
		border-radius: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
	}
	.br-l-0 {
		border-bottom-left-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}
}

.bottomrow .col > p {
    font-weight: 700;
}

/*Full Payment added*/
a.btn.btn_white {
    text-align: center;
    width: 100%;
    color: #3482F6;
    font-size: 16px;
    margin-top: 7px;
}
a.btn.btn_white > img {
    margin-right: 5px;
}
.fullpayment {
    text-align: center;
    margin-top: 11%;
}
.fullpayment > img {
    margin-bottom: 19px;
}
.crossbutton {
    margin-top: -6px;
    margin-right: 11px;
}

/*Redeem gift certification*/
a.btn_second {
    color: #1C2638;
    padding: 9px 10px;
    background-color: transparent;
    border: 1px solid #D2D6DB;
    font-size: 14px;
}
a.btn_second:hover {
    color: #242830;
}
.redeen-title > h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: center;
}
.redeen-title > .crossbutton {
    position: absolute;
    right: 6px;
    top: 21px;
}
.redeen-title > .crossbutton img {
    width: 17px;
}
.redeen-title {
    border-top: 1px solid #DDE4EB;
    border-bottom: 1px solid #DDE4EB;
    padding: 14px 0 6px 0;
    margin: 0 -15px;
}

.redeemgift-search .input-group.mb-2.mr-sm-2 {
    width: 100%;
    margin-right: 0 !important;
    padding: 16px 0;
}
form.form-inline.redeemgift-search > .input-group.mb-2.mr-sm-2 input {
    height: 43px;
    border-left: 0;
}
.redeemgift-search .input-group-text {
    background-color: transparent;
 }
.redeemgift-search .input-group.mb-2.mr-sm-2 .input-group-text {
    padding-left: 18px;
    padding-right: 3px;
	background-color: transparent;
}
.redeemgift-search .input-group.mb-2.mr-sm-2 input.form-control {
    border-left: 0;
    height: 44px;
}
form.form-inline.redeemgift-search > .input-group.mb-2.mr-sm-2 input:focus {
    box-shadow: none;
    border-color: #D2D6DB;
}
.redeemicon {
    text-align: center;
    margin-bottom: 10px;
}
.redeemgift-container {
    margin: 30px 0;
}
.redeemgift-container > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
/*Credit card payment*/
form.creditcard-form > .form-row {
    width: 100%;
    margin-bottom: 11px;
}

form.creditcard-form {
    margin-top: 20px;
}

form.creditcard-form > .form-row > input {
    height: 44px;
    width: 100%;
    letter-spacing: 2px;
}

form.creditcard-form > .form-row .form-group.col-md-4.col-sm-12 > input {
    width: 100%;
    letter-spacing: 4px;
}

form.creditcard-form > .form-row .form-group.col-md-4.col-sm-12 label {
    margin-bottom: 7px;
}

form.creditcard-form > .form-row > label {
    margin-bottom: 6px;
}

form.creditcard-form > .form-row .form-group.col-md-4.col-sm-12 {
    padding: 0 3px;
}

form.creditcard-form > .form-row > select {
    height: 44px;
    width: 100%;
}

/*Checkout Exit popup*/
#checkout-popup .modal-header h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.02em;
}
.modal-header .close {
    opacity: 1;
}
.modal-header .close > img {
    width: 18px;
    margin-top: -6px;
}
#checkout-popup p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1C2638;
}
#checkout-popup .modal-footer > button {
    background: #C9384A;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    padding: 11px 20px;
}

/*Invoice*/
.invoicemain {
    background-color: #fff;
    border: 1px solid #D2D6DB;
    padding: 40px 20px;
    width: 100%;
    max-width: 50%;
	margin: 30px auto;
}
.invoice-wrapper {
    text-align: center;
}
.invoice-wrapper > h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}
.invoice-wrapper > h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 11px;
}
.invoice-wrapper > p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #8E9096;
    margin-top: 12px;
}
.invoicemain > .col-sm-12 {
    background-color: #fff;
    border: 1px solid #D2D6DB;
	padding: 23px 20px 0px 20px;
}
.invoice-wrapper {
    text-align: center;
}
.invoice-wrapper > h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}
.invoice-wrapper > h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 11px;
}
.invoice-wrapper > p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #8E9096;
    margin-top: 12px;
}

.product-detail {
    margin-top: 40px;
    border-top: 1px solid #DDE4EB;
    border-bottom: 1px solid #DDE4EB;
    padding-top: 26px;
}

.product-detail > ul {
    padding-left: 0;
    margin-bottom: 5px;
}
.product-detail > ul > li {list-style: none;}
.product-detail > ul > li .row > .col h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.product-detail > ul > li .row > .col p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #8E9096;
}
.product-detail > ul > li .row > .col.gridright > p {
    font-weight: 600 !important;
    line-height: 19px !important;
    color: #111927 !important;
    text-align: right;
}
.col.gridleft {
    max-width: 80%;
    flex: 0 0 100%;
}
.invoiceamount-content > ul {
    padding-left: 0;
}
.invoiceamount-content > ul > li {
    list-style: none;
}
.col.gridright {
    max-width: 20%;
}

ul.invoice-amount > li .col.gridleft h4{
	font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
ul.invoice-amount > li .col.gridleft p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #8E9096;
}
ul.invoice-amount > li .col.gridright p{
    font-weight: 600 !important;
    line-height: 19px !important;
    color: #111927 !important;
    text-align: right;
}
ul.invoice-amount {
    padding-top: 3px;
}
ul.invoice-amount > li {
    border-bottom: 1px solid #DDE4EB;
    padding-bottom: 0px;
    padding-top: 17px;
}
li.grandtotal > h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 14px;
}
li.grandtotal {
    border: 0 !important;
}
ul.invoice-amount > li.grandtotal .row > .col > p {
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    color: #8E9096 !important;
}
p.bottonline {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 21px;
}
.sidebarfooter .col-md-6.col-sm-12 > .custom_btn_in.ml-md-3 > a.btn.btn_new.btn_black {
    background-color: #111927;
    color: #fff;
}
.sendinvoice-email form label {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin-bottom: 6px;
    margin-left: 11px;
}

.sendinvoice-email {
    border-bottom: 1px solid #DDE4EB;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
}

.sendinvoice-email form > .form-group {margin-left: 9px !important;margin-right: 9px !important;width: 100%;max-width: 97%;}

.sendinvoice-email form > .form-group > input {
    font-size: 13px;
    margin-right: 11px;
    width: 100%;
    max-width: 75%;
    height: 47px;
}

.sendinvoice-email form > .form-group > input + button {
    height: 43px;
    margin-top: 5px;
    background-color: #D2D6DB;
    border: 0;
}

.redeemgift-search.greybg {
    padding: 10px 20px;
    margin: 0;
    background: #F8F8F8;
    border-top: 1px solid #DDE4EB;
    border-bottom: 1px solid #DDE4EB;
}
.redeemgift-search.greybg .input-group-prepend {
    background: #fff;
}
.additem-listing > ul {
    padding-left: 0;
}
.additem-listing > ul > li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #1C2638;
    position: relative;
    border-bottom: 1px solid #DDE4EB;
    padding: 0 20px 16px 20px;
    margin: 16px 0;
}
.additem-listing > ul > li > span {
    position: absolute;
    right: 22px;
    top: 0;
}
.additem-listing > ul > li:last-child {
    border: 0;
}

/*gift card start*/
.twobtn_body_sec {
    display: flex;
    justify-content: flex-end;
}
.twobtn_body_sec > .custom_btn_in > .btn_new {
    min-width: 115px;
}
.inp {
        position: relative;
}

.inp {
        display: flex;
        flex-direction: column;
}
.inp input.email-margin {
        border: 0;
        border: 1px solid #D2D6DB;
        width: 100%;
        outline: none;
        height: 51px;
        padding: 0 20px;
        border-radius: 4px;
            margin-bottom: 30px;
}
.inp input.email-margin:focus {
        border: 1px solid #2028eb;
}

.inp input::placeholder {
        color: #a5a4ac;
        font-size: 14px;
}

.inp label.email {
        position: absolute;
        left: 20px;
        top: -10px;
        color: #95959d;
        background: #fff;
        font-size: 14px;
}

.inp::before {
        position: absolute;
        content: "";
        background-color: rgb(255, 255, 255);
        left: 10px;
        height: 21px;
        top: -10px;
}

.inp .email-margin {
        margin-bottom: 10px;
}

     
.inp label.pass {
        position: absolute;
        top: 80px;
        left: 20px;
        z-index: 2;
        color: #95959d;
}

div#myTabContent {
    border: none;
    padding-top: 20px;
    padding-left: 23px;
    width: 100%;
}
.tab_panel .nav-tabs {
    border-bottom: none;
}
.select_inp select {
    background: #FFFFFF;
    border: 1px solid #D2D6DB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 11px;
    width: 100%;
    font-size: 14px;
    height: 51px;
    color: #8E9096;
    margin-bottom: 12px;
}
.select_inp select::placeholder {
        color: #a5a4ac;
        font-size: 14px;
}
label.form-check-label {
    color: #1C2638;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.giftcard_model {
    padding: 10px 0px;
    margin: 0;
    background: #Fff;

}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
span.heading_small {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    margin-right: 10px;
}
.under_line {
    width: 100%;
    height: 1px;
    background: #DDE4EB;
        margin: 30px 0px;
}
.heading_sec h3 {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.second_panel {
    padding-left: 15px;
}
.textarea_bdy textarea {
    border: 1px solid #D2D6DB;
    width: 100%;
    outline: none;
    height: 117px;
    padding: 0 20px;
    border-radius: 4px;
    
}
.heading_sec {
    margin-bottom: 20px;
}
.footer_inner {
    display: flex;       
    align-items: center;
    width: 100%;
}

.footer_txt {
    text-align: left;
}

button.btn.btn-payment {
    height: 22px;
    background: #C4C4C4;
    border-radius: 4px;
    color: #fff;
    width: 213px;
    height: 44px;
}
div#giftnew .modal-footer{

    justify-content: space-between;
}
.footer_txt h3 {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.first_panel {
    padding-left: 15px;
}
.radio_custom_bdy {
    display: flex;
    margin-bottom: 20px;
}
.mydivshow{
    display: none;
}

input#radio1:checked #home{
    display: flex;
}
input#radio2:checked #profile{
    display: flex;
}
span.sec_lbl_radio {
    margin-bottom: 8px;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}