 
               <div class="mid_sec_bdy">
                <div class="row mx-0 row-mob">
                   <div class="col p-0">
                      <!-- <div class="row mx-0 pt-3">
                      <div class="col-lg-4">
                         <div class="colum_left_bdy">
                            <div class="custom_select_in ">
                               <select class="custom_select_bx f_select">
                                  <option>KBS</option>
                               </select>
                               <img src="assets/images/dropdown.svg" class="dropdown_img">
                            </div>
                            <div class="custom_select_in ml-md-3">
                               <select class="custom_select_bx s_select">
                                  <option>Room View</option>
                               </select>
                               <img src="assets/images/dropdown.svg" class="dropdown_img">
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4">
                         <div class="mid_button_group_bdy">
                            <div class="btn-group btn_ctm_group" role="group" >
                               <button type="button" class="btn btn_ctom angle_left_btn"><i class="fa fa-angle-left"></i></button>
                               <button type="button" class="btn btn_ctom">Today</button>
                               <button type="button" class="btn btn_ctom">Monday 17 May, 2021</button>
                               <button type="button" class="btn btn_ctom angle_right_btn"><i class="fa fa-angle-right"></i></button>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4">
                         <div class="colum_right_bdy">
                            <div class="custom_btn_in">
                               <a href="#" class="btn btn_zoom" type="button" data-toggle="modal" data-target="#myModal">
                               <img src="assets/images/zoom.svg" class="zoom_img">
                               </a>
                            </div>
                            <div class="custom_select_in ml-md-3">
                               <select class="custom_select_bx t_select">
                                 <option value="day_is">Day</option>
                                 <option value="week_is">Week</option>
                                 <option value="month_is">Month</option>
                               </select>
                               <img src="assets/images/dropdown.svg" class="dropdown_img">
                            </div>
                            <div class="custom_btn_in ml-md-3">
                               <a href="#" class="btn btn_new">+ Add New</a>
                            </div>
                         </div>
                      </div>
                   </div> -->
                   <div class="row mx-0 pt-4 fpt-4">
                      <!-- table start -->
                      <div class="col-lg-12 p-0">
                         <div id="calendar"></div>
                         <!-- <full-calendar #calendar defaultView="dayGridMonth" [options]="calendarOptions"></full-calendar> -->

                      </div>
                   </div>
                   </div>
                   <div class="col-auto p-0">
                      <div class="icon_bdy_section">
                         <div class="icon_bdy_section_list">
                            <ul>
                               <li>
                                  <a href="#">
                                     <img src="assets/images/print-doc.svg" class="print_img">
                                  </a>
                               </li>
                               <li>
                                  <a href="#">
                                     <img src="assets/images/check-green.svg" class="print_img">
                                  </a>
                               </li>
                            </ul>
                         </div>
                         </div>
                   </div>
                </div>
             </div>

             <div class="modal" id="myModal">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                         <h4 class="modal-title">View Appointment</h4>
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                         Modal body..
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                         <button type="button" class="btn btn-white">Edit</button>
                         <button type="button" class="btn btn-black">Checkout</button>
                      </div>
                   </div>
                </div>
             </div>