<div class="therapistsmain-tabs">
    <div class="row mx-2">
       <div class="col-lg-12">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
             <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-saleschart-tab" data-toggle="pill"
                   href="#pills-sales" role="tab" aria-controls="pills-sales"
                   aria-selected="true">Invoices</a>
             </li>
          </ul>
       </div>
    </div>
 </div>

 <div class="mid_sec_bdy">

    <div class="tab-content" id="pills-tabContent">
       <div class="tab-pane fade show active" id="pills-sales" role="tabpanel"
          aria-labelledby="pills-saleschart-tab">
          <div class="row mx-0 row-mob">
             <div class="col-md-12 p-0 bg-grey">
                <div class="row mx-0 pt-3 pb-3">
                   <div class="col-lg-9 col-md-8 col-sm-12">
                      <div class="colum_left_bdy">
                         <div class="custom_select_in ">
                            <select class="custom_select_bx f_select">
                               <option>Today</option>
                            </select>
                            <img src="assets/images/dropdown.svg" class="dropdown_img">
                         </div>
                         <div class="custom_select_in ml-md-3">
                            <select class="custom_select_bx s_select">
                               <option>All Spas</option>
                            </select>
                            <img src="assets/images/dropdown.svg" class="dropdown_img">
                         </div>
                         <div class="custom_select_in ml-md-3 allcategories">
                            <select class="custom_select_bx s_select">
                               <option>All Categories</option>
                            </select>
                            <img src="assets/images/dropdown.svg" class="dropdown_img">
                         </div>
                         <div class="custom_select_in ml-md-3 searchui">
                            <form class="form-inline">
                               <img src="assets/images/search.png" class="dropdown_img">
                               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                             </form>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12 text-right">
                      <div class="custom_btn_in mr-md-3 btn-export">
                         <select class="custom_select_bx s_select">
                            <option>Export</option>
                            <option>PDF</option>
                            <option>Excel</option>
                            <option>CSV</option>
                            <option>Sheets</option>
                         </select>
                         <img src="assets/images/export.svg" class="dropdown_img">
                      </div>
                   </div>
                </div>
             </div>   

             <div class="col-md-12 p-0">
                <div class="row mx-0 pt-0 pb-0">
                   <!-- table start -->
                   <div class="col-lg-12 p-0">
                      <div class="table-responsive sales-main">
                         <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Invoice #</th>
                                <th scope="col">Invoice Date</th>
                                <th scope="col">Guest</th>
                                <th scope="col">Location</th>
                                <th scope="col">Category</th>
                                <th scope="col">Gross Total</th>
                                <th scope="col">Gratuity</th>
                                <th scope="col">Taxes</th>
                                <th scope="col">Net Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"><a href="#">256</a></th>
                                <td>28 Oct 2021</td>
                                <td>Steve king</td>
                                <td>KBS</td>
                                <td>Service</td>
                                <td>$450.00</td>
                                <td>$60.00</td>
                                <td>$34.88</td>
                                <td>$544.88</td>
                              </tr>
                              <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                             <tr>
                               <th scope="row"><a href="#">256</a></th>
                               <td>28 Oct 2021</td>
                               <td>Steve king</td>
                               <td>KBS</td>
                               <td>Service</td>
                               <td>$450.00</td>
                               <td>$60.00</td>
                               <td>$34.88</td>
                               <td>$544.88</td>
                             </tr>
                              
                            </tbody>
                            <tfoot>
                               <tr>
                                  <td>page total</td>
                                  <td></td>
                                  <td>Showing 21 results</td>
                                  <td></td>
                                  <td></td>
                                  <td>$3500.00</td>
                                  <td>#480.00</td>
                                  <td>$279.04</td>
                                  <td>$4359.04</td>
                               </tr>
                            </tfoot>
                          </table>
                      </div>
                   </div>
                </div>

             </div>
          </div>
       </div>
       <div class="tab-pane fade show" id="pills-workinghrs" role="tabpanel"
          aria-labelledby="pills-workinghrs-tab">
          <div class="row mx-0 row-mob">
             <div class="col p-0">
                <div class="row mx-0 pt-3">
                   <div class="col-lg-4">
                      <div class="colum_left_bdy">
                         <div class="custom_select_in ">
                            <select class="custom_select_bx f_select">
                               <option>All Spas</option>
                            </select>
                            <img src="assets/images/dropdown.svg" class="dropdown_img">
                         </div>
                         <div class="custom_select_in ml-md-3">
                            <select class="custom_select_bx s_select">
                               <option>All Staff</option>
                            </select>
                            <img src="assets/images/dropdown.svg" class="dropdown_img">
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4">
                      <div class="mid_button_group_bdy">
                         <div class="btn-group btn_ctm_group" role="group">
                            <button type="button" class="btn btn_ctom angle_left_btn"><i
                                  class="fa fa-angle-left"></i></button>
                            <button type="button" class="btn btn_ctom">Today</button>
                            <button type="button" class="btn btn_ctom">23 - 29 May, 2021</button>
                            <button type="button" class="btn btn_ctom angle_right_btn"><i
                                  class="fa fa-angle-right"></i></button>
                         </div>
                      </div>
                   </div>
                </div>

                <div class="row mx-0 pt-4 fpt-4">
                   <!-- table start -->
                   <div class="col-lg-12 p-0">
                      <!-- Calander here -->
                      <div class="workinghrs-image">
                         <img src="assets/images/calimg.png" alt="" class="w-100" data-toggle="modal"
                            data-toggle="modal" data-target="#workinghrs-popover">
                      </div>



                   </div>
                </div>

             </div>
          </div>
       </div>

    </div>

 </div>